{% extends 'base.html' %}


{% block content %}
<form action="{% url 'categories' %}" class="form-control bg-dark text-white" method="post">
          <h2>Добавить категорию</h2>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-sm btn-primary" type="submit">Добавить</button>
</form>
<hr color="white">
<h2>Список категорий</h2>
<div class="row" style="max-width: 90vw">
  {% for cat in categories %}
        <div class="col-sm-3 mt-3 mb-3 mb-sm-0">
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">{{ cat.name }}</h5>
        <p class="card-text">{{ cat.description }}</p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}